page-post {
    button{
        float:right;
        padding:8px 12px;
        margin:8px 0 0;
        font-family:'Montserrat',sans-serif;
        border:2px solid #78788c;
        background:0;        
        cursor:pointer;
        transition:all .3s
    }

    input{
        width:100%;
        padding:10px;
        box-sizing:border-box;
        background:none;
        outline:none;
        resize:none;
        border:0;
        font-family:'Montserrat',sans-serif;
        transition:all .3s;
        border-bottom:2px solid #bebed2
    }

    h1{
        font-family:'Montserrat',sans-serif;
        }

    h2{
        font-family:'Montserrat',sans-serif;
        }
       
    h3{
        font-family:'Montserrat',sans-serif;
        }
    
    p{
        font-family:'Montserrat',sans-serif;
        }

   
}
